.news-item {
  width: 270px;
  max-height: 378px;

  &__topside {
    height: 200px;
    &__img {
      width: 270px;
      height: 190px;
      cursor: pointer;
    }
  }

  &__bottomside {
    max-height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__category {
      height: fit-content;
      text-transform: uppercase;
      color: #9DB8BA;
      font-size: 0.6875rem;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    &__title {
      height: fit-content;
      color: #0A2E33;
      font-size: 1rem;
      font-weight: 600;
      line-height: 19px;
      margin-top: 8px;
      cursor: pointer;

      &:hover {
        color: aqua;
      }
    }

    &__desc {
      height: fit-content;
      font-size: 0.8125rem;
      color: #0A2E33;
      font-family: Open Sans, sans-serif;
      line-height: 18px;
    }
  }
}
