<header>
  <div class="l-side">
    <div class="l-side__logo">
      <div class="l-side__logo__img">
        <img src="/assets/svg/logo.svg" alt="med-logo">
      </div>
      <div class="l-side__logo__text">
        <p class="l-side__logo__text__header">Справочник врача</p>
        <p class="l-side__logo__text__desc">Персональный помощник медицинских специалистов</p>
      </div>
    </div>
  </div>
  <div class="r-side">
    <div class="r-side__login">
      <div class="r-side__login__icon">
        <img src="assets/svg/group-6.svg" alt="">
      </div>
      <p class="r-side__login__text">
        Вход/Регистрация
      </p>
    </div>
  </div>
</header>
