.news-container {
  width: 660px;
  height: 600px;
  display: grid;
  grid-template-columns: 270px 270px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-top: 40px;
  margin-left: 32px;
}

.pagination {
  position: relative;
  margin-top: 60px;
  margin-bottom: 69px;
}
