<div class="page-wrapper">
  <div class="news-content">
    <div class="news-content__top-side">
      <p class="news-content__top-side__genre">
        НАУКА
      </p>
      <p class="news-content__top-side__title">
        В 2018 году на околоземную орбиту отправят биореактор со стволовыми клетками
      </p>
      <p class="news-content__top-side__date">
        13 июля 2017
      </p>
    </div>
    <div class="news-content__middle-side">
      <div class="news-content__middle-side__img">
        <img src="https://lh3.googleusercontent.com/proxy/wJPR_HpzDmX_cTpH9dv0EJEEalf16dSmTR1sBHX_-7vXvKVEmDEBsFD02kceF04rUZzHi8aoPxI6D51G7e9DTmT0y7ltGX8AKx2IWLu76VfnOy6PFTNfnn50kg" alt="">
      </div>
      <p class="news-content__middle-side__main-text">
        Ученые Первого Московского государственного медицинского университета имени И.М. Сеченова получили лицензию Роскосмоса на проведение исследований и опытов  за пределами Земли. В марте 2018 года планируется запуск биореактора на орбиту. Эксперимент позволит изучить влияние полета на выживание стволовых клеток.  В дальнейшем эти разработки будут применяться при лечении космонавтов во время длительных полетов.


        Суть исследования — выяснить, как меняются свойства клеточных культур во время космического полета. Ученые хотят понять, как именно внеземные условия влияют  на функционирование мезенхимальных стромальных клеток (МСК — это клетки, которые являются матрицей всех органов и тканей человеческого организма).


        — Космическая биология возникла потому, что за пределами нашей планеты совсем другие условия. Наш организм, адаптированный к жизни на поверхности Земли, в космосе будет функционировать иначе, уе клеток там совершенно другие взаимодействия, — рассказал «Известиям» ведущий научный сотрудник отдела передовых клеточных технологий Первого медуниверситета Михаил Крашенинников. — Основные проблемы, выявленные еще более полувека назад, связаны с тем, что люди после возвращения из невесомости не могут ходить. У них атрофируются мышцы, а из костей вымывается кальций. Наша цель — решить и эту проблему среди прочих.


        Первостепенная задача ученых до запуска проекта — создать аппаратуру, которая обеспечит в космосе условия для выживания и роста различных клеток млекопитающих.


        — Люди, которые отправляются в очень долгий полет, будут сталкиваться с самыми разными медицинскими проблемами. Какими бы они ни были тренированными и сильными,  у человека, попавшего в другие условия, должна быть страховка — возможность себя вылечить, — рассказал Михаил Крашенинников.
      </p>
      <a class="news-content__middle-side__link-out" href="">
        Ссылка на источник
      </a>
    </div>
  </div>
  <div class="side-news">

  </div>
</div>
